:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
ul, p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.body {
  font-family: var(--main-font);
  font-style: normal;
}

.container {
  display: flex;

  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  margin-left: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.top-address-list {
  display: flex;
  margin-left: auto;
}
.top-address {
  margin-left: auto;
}
.top-address-list .item + .item {
  margin-left: 50px;
}
.navigation-list .link.current {
  color: var(--accent-color);
}
.navigation-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms var(--timing-function );
  
}
.navigation-list-item {
    position: relative;
}
.navigation-list .link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  
  opacity: 0;
  transition: color 250ms var(--timing-function );
  background-color: #2196F3;
  border-radius: 2px;
}
.navigation-list .link.current::after{
  opacity: 1;
}
.top-address-link {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.adress-icon {
  fill: currentColor;
  margin-right: 10px;
}
.link:hover,
.link:focus,
.top-address-link:hover,
.top-address-link:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  letter-spacing: 0.03em;
  
}

/* <=== HERO ===> */

.hero {
  text-align: center;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid transparent;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mainimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-title {
  padding-top: 200px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
}

.main-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  background: #2196f3;
  color: #ffffff;
  max-width: 200px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timing-function );
}
.main-btn:hover,
.main-btn:focus {
  background: #188ce8;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
  opacity: 1;
  z-index: 1;     
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%,-50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}
.m-form{
  display: flex;
  flex-direction: column;
  text-align: left;
  
}
.modal-form-title {
  margin-bottom: 12px;
 
font-weight: bold;
font-size: 20px;
line-height: 1.15;

letter-spacing: 0.03em;
}
.modal-label{
  font-size: 12px;
line-height: 1.166;
letter-spacing: 0.01em;
margin-bottom: 10px;
color: #757575;


}
.modal-input{
  
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
  
}
.modal-input:focus,
.comments:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border 250ms var(--timing-function);
 
}
.modal-input:focus +.modal-icon,
.modal-input:hover + .modal-icon{
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}

.modal-icon:hover {
  fill: var(--accent-color);
  
}

.modal-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
 
}

.modal-icon{
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.comments{
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
 font-size: 14px;
 line-height: 1.142;
 letter-spacing: 0.01em;
 color: black;
  
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms var(--timing-function);
  }
  .label-policy::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121 ;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    transition: border 250ms var(--timing-function);
  }
  .label-policy {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: #757575;

  }
  .input-policy {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    
  }
  .input-policy:checked + .label-policy::before {
     background-color: var(--accent-color);
     border-color: var(--accent-color);
     background-image: url(../images/Vector.svg);
     background-size: 11px 8px;
     background-repeat: no-repeat;
     background-position: center;
     outline: none;
     transition: border-color 250ms var(--timing-function);
    }
    

    
  .form-link  {
    margin-left: 4px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--accent-color);
  }
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:  all 250ms var(--timing-function);
}
.icon-close {
  position: absolute;
    width: 11px;
    height: 11px;
    
}

/* <=== особенности ===> */
.main-information {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-info-item {
  display: flex;
  flex-wrap: wrap;
}
.main-info-link {
  width: 270px;
}
.main-info-link::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.main-info-link:not(:last-child) {
  margin-right: 30px;
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.main-info-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.main-info-description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/* <=== About ===> */
.about {
  padding-bottom: 94px;
}
.about-list {
  display: flex;
}
.about-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.about-list .item + .item {
  margin-left: 30px;
}
.item {
  position: relative;
}
.feature {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.feature-title{
  
padding-top: 27px;
padding-bottom: 27px;
margin: 0;
font-weight: bold;
font-size: 14px;
line-height: 1.142;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

/* <=== our team ===> */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-list-item {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #ffffff;
}
.team-list-item + .team-list-item {
  margin-left: 30px;
}
.team-icon {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-description {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.social-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function );
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list_icons {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-list_link:hover,
.social-list_link:focus {
  background-color: var(--accent-color);
}
.social-list_link:hover .social-list_icons,
.social-list_link:focus .social-list_icons {
  fill: white;
}

/* <=== clients ===> */

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.clients-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list_icons {
  fill: #afb1b8;
}
.clients-list_link > .clients-list_icons {
  height: 50%;
  width: 50%;
}
.clients-list_item:not(:last-child) {
  margin-right: 30px;
}
.clients-list_link:hover,
.clients-list_link:focus {
  border: 1px solid var(--accent-color);
}
.clients-list_link:hover .clients-list_icons,
.clients-list_link:focus .clients-list_icons {
  fill: var(--accent-color);
}

/* <=== FOOTER ===> */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot {
  align-items: baseline;
  justify-content: space-between;
  
}

.bottom-address {
  margin-top: 20px;
  
}
.footer-list .item + .item {
  margin-top: 9px;
}

.logo.inverse {
  color: white;
  width: 145px;
}
.footer-address {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.adress-item {
  margin-right: 70px;
 
}
.soc-list_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.foot-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.soc-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.soc-list_icons {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.soc-list_item:not(:last-child) {
  margin-right: 10px;
}
.soc-list_link:hover,
.soc-list_link:focus {
  background-color: var(--accent-color);
}
.footer-form {
  
  margin-left: 93px; 
}
.form{
  display: flex;
}
.footer-input{
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2F303A;
  border-radius: 4px;
  outline: none;
}
.footer-input:focus {
  border-color: var(--accent-color);
}
.foot-btn {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  transition: color 250ms var(--timing-function );

}
.footer-form-icon{
  margin-left: 10px;
}
