.social-list_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);
  }
  .social-list {
    display: flex;
    justify-content: center;
  }
  .social-list_icons {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
  .social-list_link:hover,
  .social-list_link:focus {
    background-color: var(--accent-color);
  }
  .social-list_link:hover .social-list_icons,
  .social-list_link:focus .social-list_icons {
    fill: white;
  }
  